# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
ENV/
.env/
.venv/

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled files
*.so

# ZIPs and output
*.zip


# Temp files - ignore contents but keep directory
temp_images/*
!temp_images/.gitkeep
